<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Note App</title>
</head>
<body>
    <div class="top_Container">
        <h1>Welcome, Note Taker</h1>
    </div>
    <div class="main_container">
          
        <div class="left_notes">
            <% notes.forEach(note => { %>
        <div class="new_note">
            <h3><%= note.title %></h3>
            <form action="/delete/<%= note.id %>" method="POST">
              <button type="submit"><i class="fa-solid fa-trash"></i></button>
            </form>
          </div>
        <% }) %>
        
        </div>
        <div class="right_notepad">
            <form action="/new" method="POST" class="note-form">
                <input type="text" name="title" placeholder="Note Title" required>
                <textarea name="content" placeholder="Write your note..." required></textarea>
                <button type="submit">Add Note</button>
            </form>
        </div>
    </div>
</body>
</html>
-->

<!DOCTYPE html>
<html>
  <head>
    <title>Notes Taking App</title>
    <link type="text/css" rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div class="tag">
      <h1>Note Taker</h1>
      <button class="addPage">+</button>
    </div>
    <div class="divider">
      <div class="savedNote">
        <% notes.forEach(note => { %>
        <div class="page">
          <h3><%= note.title %></h3>
          <form action="/delete/<%= note.id %>" method="POST">
            <button type="submit"><img src="trash_icon.png" width="25px"/></button>
          </form>
        </div>
        <% }) %>
      </div>
      <div>
        <form action="/new" method="POST" class="notePad">
          <input
            type="text"
            class="inputText"
            id="title"
            name="title"
            placeholder="Title"
          /><br />
          <textarea
            name="content"
            spellcheck="false"
            placeholder="Click to type..."
          ></textarea>
          <button type="submit">Add Note</button>
        </form>
      </div>
    </div>
  </body>
</html>
